.project-container .header, .footer {
  /* background-color: var(--color-bg); */ /* solid background colour so that project container doesn't visibly overflow footer */
}

.project-container .header .navbar {
  background: none;
}

/* grid layout */
.project-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; */
  /* overflow-y: scroll; */
}

/* flex layout */
.project-container {
  /* padding-top: 50px; */
  /* background: #ECEFF1; */
  /* height: 100%; */
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* align-content: flex-start; */

  /* border: 1px solid red; */

  /* min-width:0; */
  overflow: hidden;
  /* overflow: auto; */
  /* overflow: -moz-scrollbars-vertical; */
  /* overflow-x: scroll; */
  overflow-y: auto;
}

.project-container {
  /* z-index: 1; */

  /* flex: 1 0 auto; */
  /* min-width: 0; */

  /* min-height: 100%; */ /* force the project-container element not get any smaller than the window height */
  /* padding-top: 100px;
  padding-bottom: 100px; */
  /* overflow: auto; */
}

.project-container > div {
  /* border: 1px solid grey; */
}

/* mobile first layout */
@media screen and (min-width: 576px) {
  .project-container {
    flex-direction: row;
    /* display: flex;
    flex-flow: row wrap; */
    /* flex-direction: column; */
  }
  .project-item {
    /* flex: 33vw; */
  }
}