.main {
    min-height: 100%; /* force the main element not get any smaller than the window height */
    /* padding-bottom: 100px; */
    /* prevent content being covered by navbar */
    padding-top: 6rem;
    /* overflow: scroll; */

    /* center children */
    align-content: center;
    justify-content: center;
}